.education {
  padding: 90px;
  background-color: #f2f2f2;
  text-align: center;
  height: 80vh;
}

.education h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: black;
}

.education-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.edu-item {
 display: flex;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edu-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.edu-item h3 {
  color: #333;
  margin-bottom: 10px;
}

.edu-item p {
  color: #666;
  margin: 5px 0;
}

.edu-details{
    text-align: start;
}